<p class="unitsText">Select your loading units</p>
<select id="supportedUnitsSelector">
  <% supportedUnits.each do |unit| %>
    <% if session[:prefUnits] == unit %>
      <option selected value="<%= unit %>" label="<%= unit %>"></option>
    <% else %>
      <option value="<%= unit %>" label="<%= unit %>"></option>
    <% end %>
  <% end %>
  <option value="native" label="Isotherm Default"></option>


</select>