<div id="generic_page">
  <h1>API Routes</h1>
  <ul>

    <li>/mofs.json

      <table class="api_table">
        <tr>
          <th>Param Name</th>
          <th>Type</th>
          <th>Example</th>
        </tr>
        <tr>
          <td>vf_min</td>
          <td>float
          </td>
          </td>
          <td></td>
        </tr>
        <tr>
          <td>vf_max</td>
          <td>float
          </td>
          </td>
          <td></td>
        </tr>
        <tr>
          <td>lcd_min</td>
          <td>float
          </td>
          </td>
          <td></td>
        </tr>
        <tr>
          <td>lcd_max</td>
          <td>float
          </td>
          </td>
          <td></td>
        </tr>
        <tr>
          <td>pld_min</td>
          <td>float
          </td>
          </td>
          <td></td>
        </tr>
        <tr>
          <td>pld_max</td>
          <td>float
          </td>
          </td>
          <td></td>
        </tr>
        <tr>
          <td>sa_m2g_min</td>
          <td>float
          </td>
          </td>
          <td></td>
        </tr>
        <tr>
          <td>sa_m2g_max</td>
          <td>float
          </td>
          </td>
          <td></td>
        </tr>
        <tr>
          <td>sa_m2cm3_min</td>
          <td>float
          </td>
          </td>
          <td></td>
        </tr>
        <tr>
          <td>sa_m2cm3_max</td>
          <td>float
          </td>
          </td>
          <td></td>
        </tr>

        <tr>
          <td>name</td>
          <td>string
          </td>
          </td>
          <td></td>
        </tr>
        <tr>
          <td>database</td>
          <td>enum</td>
          <td>database: <%= Database.all.pluck(:name).join(", ") %></td>
        </tr>
        <tr>
          <td>hashkey</td>
          <td>string</td>
          <td>(50 characters exactly)</td>
        </tr>
        <tr>
          <td>limit</td>
          <td>integer
          <td></td>
        </tr>
        <tr>
          <td>gases</td>
          <td>array</td>
          <td>eg. mofs.json?gases[]=Nitrogen&gases[]=Carbon+Dioxide</td>
        </tr>
        <tr>
          <td>doi</td>
          <td>stringt</td>
          <td>(any mof whose doi includes the string given)</td>
        </tr>
        <tr>
          <td>cifs</td>
          <td>boolean</td>
          <td>?cifs=true, Return a zip of the cifs satisfying the other params</td>
        </tr>

      </table>
    </li>
    <li>/mofs/#.json</li>
    <li>/isotherms.json</li>
    <li>/isotherms/#.json</li>
  </ul>
</div>