<div id="generic_page">

<h1>Bulk Download JSON (cifs coming soon)</h1>
  <div id='bulk-dl-message'>Waiting for download to start</div>
  <br/>
  <div id='bulk-dl-bar'>
    <div id='bulk-dl-bar-color'></div>
  </div>
  <div id='bulk-dl-bar-message'>0%</div>
</div>
