<div id="mof-page">
  <div id="left">
    <table id="mof_specific">
      <div class="lead">ASDF</div>
      <tbody>
      <tr class="top"><td>Key</td><td>ASDF</td></tr>
      <tr><td>Database</td><td>ASDF></td></tr>
      <tr><td>Void Fraction</td><td>ASDF</td></tr>
      <tr><td>ASA m2/g</td><td>ASDF</td></tr>
      <tr><td>ASA m2/cm3</td><td>ASDF</td></tr>
      <tr><td>PLD</td><td>ASDF</td></tr>
      <tr><td>LCD</td><td>ASDF</td></tr>
      <tr><td>Atoms in MOF</td><td>ASDF</td></tr>
      </tbody>
    </table>

    <div id='viewport' style='width:100%; min-height:450px;'></div>"

  </div>
  <div id="right">
    <div class="lead">Isotherms</div>
    <div class="spacer"></div>
  </div>
  </div>
</div>